In [1]:
import numpy as np
import pandas as pd

In [2]:
data_frame = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=["A", "B", "C"]
)

In [3]:
# select column 'A'
print("Select column A")
print(data_frame["A"])
print()

Select column A
0    1
1    4
2    7
Name: A, dtype: int64

In [4]:
# select column by index
print("Select column on index 1")
print(data_frame.iloc[:, 1])
print()

Select column on index 1
0    2
1    5
2    8
Name: B, dtype: int64

In [5]:
# select multiple columns by index
print("Select columns on indices from 0 to 1")
print(data_frame.iloc[:, 0:2])
print()

Select columns on indices from 0 to 1
   A  B
0  1  2
1  4  5
2  7  8

In [6]:
# exchange column with a list
example_list = [10, 20, 30]
data_frame["C"] = example_list
print("Exchange column C with a list")
print(data_frame)
print()

Exchange column C with a list
   A  B   C
0  1  2  10
1  4  5  20
2  7  8  30

In [7]:
# append column at the end of the data frame
data_frame["D"] = ["dog", "cat", "bird"]
print("Append column D at the end of the data frame")
print(data_frame)
print()

Append column D at the end of the data frame
   A  B   C     D
0  1  2  10   dog
1  4  5  20   cat
2  7  8  30  bird

In [8]:
# add column 'E' with values 1, 2, 3 at index 1
data_frame.insert(1, "E", [1, 2, 3])
print("Add column E at index 1")
print(data_frame)
print()

Add column E at index 1
   A  E  B   C     D
0  1  1  2  10   dog
1  4  2  5  20   cat
2  7  3  8  30  bird

In [9]:
# drop column 'E'
data_frame.drop("E", axis=1, inplace=True)
print("Drop column E")
print(data_frame)
print()

Drop column E
   A  B   C     D
0  1  2  10   dog
1  4  5  20   cat
2  7  8  30  bird

In [10]:
# drop column at index 1
data_frame.drop(data_frame.columns[1], axis=1, inplace=True)
print("Drop column at index 1")
print(data_frame)
print()

Drop column at index 1
   A   C     D
0  1  10   dog
1  4  20   cat
2  7  30  bird

In [11]:
# remove non-numeric columns
def remove_non_numeric_columns(data_frame):
    non_floats = []
    for col in data_frame:
        if not pd.api.types.is_numeric_dtype(data_frame[col]):
            non_floats.append(col)
    result = data_frame.drop(columns=non_floats)
    return result


result = remove_non_numeric_columns(data_frame)
print(result)

   A   C
0  1  10
1  4  20
2  7  30

In [12]:
# rename columns 'A' to 'geography' and 'D' to 'age' and 'C' to 'income'
data_frame.rename(columns={"A": "geography", "D": "age", "C": "income"}, inplace=True)
print("Rename columns")
print(data_frame)
print()

Rename columns
   geography  income   age
0          1      10   dog
1          4      20   cat
2          7      30  bird