In [1]:
import numpy as np
import pandas as pd

In [2]:
data_frame = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=["A", "B", "C"]
)

In [3]:
# select row by index
print("Select row on index 1")
print(data_frame.iloc[1])
print()

Select row on index 1
A    4
B    5
C    6
Name: 1, dtype: int64

In [4]:
# select multiple rows by index
print("Select rows on indices from 0 to 1")
print(data_frame.iloc[0:2])

Select rows on indices from 0 to 1
   A  B  C
0  1  2  3
1  4  5  6

In [5]:
# exchange row with a list
example_list = [10, 20, 30]
data_frame.iloc[0] = example_list
print("Exchange row 0 with a list")
print(data_frame)

Exchange row 0 with a list
    A   B   C
0  10  20  30
1   4   5   6
2   7   8   9

In [6]:
# append row at the end of the data frame
data_frame.loc[3] = [100, 200, 300]
print("Append row 3 at the end of the data frame")
print(data_frame)

Append row 3 at the end of the data frame
     A    B    C
0   10   20   30
1    4    5    6
2    7    8    9
3  100  200  300

In [7]:
# add row with values 1, 2, 3 at index 1
data_frame.loc[1] = [1, 2, 3]
print("Add row 1 at index 1")
print(data_frame)

Add row 1 at index 1
     A    B    C
0   10   20   30
1    1    2    3
2    7    8    9
3  100  200  300

In [8]:
# drop row at index 1
data_frame.drop(data_frame.index[1], axis=0, inplace=True)
print("Drop row at index 1")
print(data_frame)

Drop row at index 1
     A    B    C
0   10   20   30
2    7    8    9
3  100  200  300