In [7]:
import numpy as np
import pandas as pd

SyntaxError: invalid syntax (2307802567.py, line 2)

In [ ]:
data_frame = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=["A", "B", "C"]
)

In [8]:
# select rows where column 'A' is divisible by 2
print("Select rows where column A is divisible by 2")
print(data_frame[data_frame["A"] % 2 == 0])
print()

Select rows where column A is divisible by 2
   A  B  C
1  4  5  6

In [9]:
# show which values are divisible by 3
print("Show which values are divisible by 3")
print(data_frame % 3 == 0)
print()

Show which values are divisible by 3
       A      B     C
0  False  False  True
1  False  False  True
2  False  False  True

In [10]:
# show 'group by' result
print("Show group by result")
print(data_frame.groupby("A").sum())
print()

Show group by result
   B  C
A
1  2  3
4  5  6
7  8  9

In [11]:
# well not much has changed, that's because we don't have repetitions in our datafram
# let's use different example
data_frame = pd.DataFrame(
    [
        ["A", "Adam", 435],
        ["B", "Morgan", 42],
        ["C", "Khaled", 234],
        ["A", "Xi", 524],
        ["C", "James", 455],
        ["C", "Nicko", 1000],
    ],
    columns=["Favorite Drink", "Name", "Units Consumed"],
)

print(data_frame.groupby("Favorite Drink").mean(numeric_only=True))
print(data_frame.groupby("Favorite Drink").sum(numeric_only=True))
print(data_frame.groupby("Favorite Drink").agg([np.mean, min, max]))

                Units Consumed
Favorite Drink
A                        479.5
B                         42.0
C                        563.0
                Units Consumed
Favorite Drink
A                          959
B                           42
C                         1689
               Units Consumed
                         mean  min   max
Favorite Drink
A                       479.5  435   524
B                        42.0   42    42
C                       563.0  234  1000

/tmp/ipykernel_5718/3746133296.py:17: FutureWarning: ['Name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(data_frame.groupby("Favorite Drink").agg([np.mean, min, max]))