In [1]:
import numpy as np
import pandas as pd

In [2]:
data_frame_a = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=["A", "B", "C"]
)
data_frame_b = pd.DataFrame(
    np.array([[10, 11, 12], [13, 14, 15], [16, 17, 18]]), columns=["D", "E", "F"]
)

In [3]:
## one below the other
print("One below the other")
print(pd.concat([data_frame_a, data_frame_b], axis=0))
print()

# they need to have the same columns
print(
    pd.concat(
        [data_frame_a, data_frame_b.rename(columns={"D": "A", "E": "B", "F": "C"})],
        axis=0,
    )
)
print()

One below the other
     A    B    C     D     E     F
0  1.0  2.0  3.0   NaN   NaN   NaN
1  4.0  5.0  6.0   NaN   NaN   NaN
2  7.0  8.0  9.0   NaN   NaN   NaN
0  NaN  NaN  NaN  10.0  11.0  12.0
1  NaN  NaN  NaN  13.0  14.0  15.0
2  NaN  NaN  NaN  16.0  17.0  18.0

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
0  10  11  12
1  13  14  15
2  16  17  18

In [4]:
## side by side
print("Side by side")
print(pd.concat([data_frame_a, data_frame_b], axis=1))
print()

Side by side
   A  B  C   D   E   F
0  1  2  3  10  11  12
1  4  5  6  13  14  15
2  7  8  9  16  17  18

In [5]:
# merge data frames with different column names
print("Merge data frames")
print(pd.merge(data_frame_a, data_frame_b, left_index=True, right_index=True))
print()

Merge data frames
   A  B  C   D   E   F
0  1  2  3  10  11  12
1  4  5  6  13  14  15
2  7  8  9  16  17  18

In [6]:
# merge data frames when one column has the same name
print("Merge data frames with repeated column name")
another_data_frame = pd.DataFrame(
    np.array([[1, 2, 3], [13, 14, 15], [16, 17, 18]]), columns=["A", "X", "XX"]
)
print(pd.merge(data_frame_a, another_data_frame, on="A"))
print()

Merge data frames with repeated column name
   A  B  C  X  XX
0  1  2  3  2   3

In [7]:
# outer join
print("Outer join")
print(pd.merge(data_frame_a, another_data_frame, on="A", how="outer"))
print()

Outer join
    A    B    C     X    XX
0   1  2.0  3.0   2.0   3.0
1   4  5.0  6.0   NaN   NaN
2   7  8.0  9.0   NaN   NaN
3  13  NaN  NaN  14.0  15.0
4  16  NaN  NaN  17.0  18.0

In [8]:
# inner join
print("Inner join")
print(pd.merge(data_frame_a, another_data_frame, on="A", how="inner"))
print()

Inner join
   A  B  C  X  XX
0  1  2  3  2   3

In [9]:
# left join
print("Left join")
print(pd.merge(data_frame_a, another_data_frame, on="A", how="left"))
print()

Left join
   A  B  C    X   XX
0  1  2  3  2.0  3.0
1  4  5  6  NaN  NaN
2  7  8  9  NaN  NaN

In [10]:
# right join
print("Right join")
print(pd.merge(data_frame_a, another_data_frame, on="A", how="right"))
print()

Right join
    A    B    C   X  XX
0   1  2.0  3.0   2   3
1  13  NaN  NaN  14  15
2  16  NaN  NaN  17  18